<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Paymethods Detail Register</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <app-paymethods-form></app-paymethods-form>
    </div>
    <div class="col-md-7">
        <div>Table with list of records from the table</div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>PaymethodId</th>
                    <th>BillingAdress</th>
                    <th>UserId</th>
                    <th>TypePayment</th>
                </tr>
            </thead>
            <tr *ngFor="let pd of service.list">
                <td (click)="populateForm(pd)">{{pd.PaymethodId}}</td>
                <td (click)="populateForm(pd)">{{pd.PaymentNum}}</td>
                <td (click)="populateForm(pd)">{{pd.UserId}}</td>
                <td (click)="populateForm(pd)">{{pd.TypePayment}}</td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.PaymethodId)"></i>
                </td>
            </tr>
        </table>
    </div>
   
</div>
